body {
  margin: 0;
  padding: 0;
  /* height: 100%; */
}

section {
  height: 1400px;
  padding: 40px 200px;
}

.productSection {
  height: 1400px;
}

.formBox {
  height: 80%;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
