body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

section {
  box-sizing: border-box;
  width: auto;
  height: 100%;
  padding: 60px;
  @media (max-width: 767px) {
    padding: 16px;
  }
}
.category {
  padding: 20px 60px;
}

/* https://d2.naver.com/helloworld/8540176 */
