/* .grid-container {
  display: grid;
  grid-template-columns: 255px 1fr; 
  grid-gap: 10px;
} */

/* .left-box {
  background-color: none;
} */

/* .right-box {
  background-color: white;
} */
/* main {
  margin: 20px;
} */
