ul.nav-link {
  padding-left: 0;
}

.side-bar {
  width: 255px;
  height: 1187px;
  background-color: #363740;
}

/* 활성화 되어 있는 상태 */
.nav-link a.active {
  background: #dbdade;
  /* opacity: 0.08; */
  border: none;
  color: cornflowerblue;
  text-decoration: none;
}

/* 그냥 있을 때 */
.nav-link a {
  background: none;
  border: none;
  text-decoration: none;
  color: whitesmoke;
}

.nav-link {
  list-style-type: none;
  color: whitesmoke;
}

.nav-link li {
  padding: 30px;
}
